# Ignore everything
*

# Un-ignore folders so git looks inside them
!src/
!src/unifac/

# Un-ignore root-level project files
!.gitignore
!pyproject.toml
!README.md
!LICENSE

# Un-ignore package files inside src/unifac/
!src/unifac/__init__.py
!src/unifac/unifac_dortmund.py
!src/unifac/groupe_surfaces_and_volumes.xlsx
!src/unifac/interaction_parameters.xlsx
